.profile {
    width: 360px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: -2px 4px 18px -1px rgb(56 112 156 / 17%);
}

.avatar {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    border-radius: 50%;
    box-shadow: 0 5px 10px 2px rgb(77 29 178 / 20%);
}

.position_img {
    padding-top: 35px;
}

.name {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.tag {
    text-align: center;
    margin-bottom: 10px;
    color: #6b6f74;
}

.location {
    text-align: center;
    margin-bottom: 35px;
    color: #6b6f74;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    background-color: #e6eaec;
}

.wrapper_profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #d9e1eb;
    width: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.label {
    display: block;
    font-size: 16px;
    color: #6b6f74;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgb(175, 171, 172);
}

.quantity {
    font-weight: 700;
    font-size: 18px;
    color: black;
}
