.transaction_history {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: #fff;
    color: #aeb0b3;
    box-shadow: 0 5px 10px 2px rgb(77 29 178 / 20%);
    
}

.transaction_title {
    font-size: 16px;
    background-color: #f0be1c;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 15px 5px;
}

.transaction_line {
    padding: 40px 5px;
    text-transform: capitalize;
}

.transaction_line:nth-child(2n) {
    background-color: rgb(235, 190, 44);
}

.transaction_info {
    padding: 15px 5px;
    color: black;
}
